[submodule "hurricane-motherboard"]
	path = hurricane-motherboard
	url = git@bwrcrepo.eecs.berkeley.edu:pcb/hurricane-motherboard
	branch = master
[submodule "hurricane1-daughterboard"]
	path = hurricane1-daughterboard
	url = git@bwrcrepo.eecs.berkeley.edu:pcb/hurricane1-daughterboard
[submodule "hurricane2-daughterboard"]
	path = hurricane2-daughterboard
	url = git@bwrcrepo.eecs.berkeley.edu:pcb/hurricane2-daughterboard
